<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.footman.mapper.ItemMapper">


    <resultMap autoMapping="true" id="selectSkuDetailMap" type="cn.footman.bean.DETAIL_T_MALL_SKU">
        <id column="sku_id" property="id" />
        <association property="spu" javaType="cn.footman.bean.T_MALL_PRODUCT" autoMapping="true">
            <id column="spu_id" property="id"/>
        </association>
        <collection property="list_image" ofType="cn.footman.bean.T_MALL_PRODUCT_IMAGE" autoMapping="true">
            <id column="img_id" property="id"/>
        </collection>
        <collection property="list_av_name" ofType="cn.footman.bean.OBJECT_AV_NAME">
            <result property="shxm_mch" column="shxm_mch"/>
            <result property="shxzh_mch" column="shxzh_mch"/>
        </collection>

    </resultMap>


    <select id="selectSkuDetail" parameterType="map" resultMap="selectSkuDetailMap">
        SELECT
            sku.Id
            as sku_id,
            spu.Id
            as spu_id,
            img.Id
            as img_id,
            attr.shxm_mch
            as shxm_mch,
            CONCAT(val.shxzh ,val.shxzh_mch)
            as shxzh_mch,
        sku.*,spu.*,img.*

        FROM
            t_mall_sku sku,
            t_mall_product spu,
            t_mall_product_image img,
            t_mall_attr attr,
            t_mall_value val,
            t_mall_sku_attr_value av
        WHERE
            sku.shp_id = spu.Id
        AND
            spu.Id = img.shp_id
        AND
            sku.Id = av.sku_id
        AND
            av.shxm_id = attr.Id
        AND
            av.shxzh_id = val.Id
        AND
            sku.Id = #{sku_id}
    </select>



    <select id="selectSkuListBySpu" resultType="cn.footman.bean.T_MALL_SKU" parameterType="int">
        select * from t_mall_sku where shp_id = #{spu_id}
    </select>

</mapper>